* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #175827; }

.container {
  width: 60%;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #2ca94b;
  border-radius: 10px;
  color: #f7f7f7;
  user-select: none; }
  .container .location-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; }
    .container .location-selection .location-card:hover {
      transform: translate(3px, -3px);
      cursor: pointer; }
    .container .location-selection .location-card {
      position: relative;
      display: flex;
      width: 29%;
      height: 86px;
      padding: 12px;
      border-top: 2px solid #2ca94b;
      border-right: 2px solid #2ca94b;
      border-radius: 10px;
      margin: 15px 15px 0px 15px;
      background-color: #155363;
      transition: transform 0.04s; }
      .container .location-selection .location-card .location-name {
        text-transform: capitalize;
        font-size: 1.6rem;
        width: 100%;
        text-align: center;
        font-weight: 500;
        line-height: 55px;
        overflow: hidden; }
    .container .location-selection .break {
      flex-basis: 100%;
      height: 0;
      margin-top: 18px;
      border-bottom: 2px solid #2ca94b; }
  .container .battle-screen {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px; }
    .container .battle-screen .player, .container .battle-screen .enemy {
      padding: 10px;
      padding-top: 4px;
      border: 2px solid #269ab8;
      background-color: #155363;
      border-radius: 10px;
      text-align: center;
      width: 30%; }
      .container .battle-screen .player .player-card .name, .container .battle-screen .player .enemy-card .name, .container .battle-screen .enemy .player-card .name, .container .battle-screen .enemy .enemy-card .name {
        font-size: 1.6rem;
        text-transform: capitalize; }
      .container .battle-screen .player .player-card .hp-bar .current, .container .battle-screen .player .player-card .hp-bar .max, .container .battle-screen .player .enemy-card .hp-bar .current, .container .battle-screen .player .enemy-card .hp-bar .max, .container .battle-screen .enemy .player-card .hp-bar .current, .container .battle-screen .enemy .player-card .hp-bar .max, .container .battle-screen .enemy .enemy-card .hp-bar .current, .container .battle-screen .enemy .enemy-card .hp-bar .max {
        height: 14px;
        width: 100%;
        position: relative; }
      .container .battle-screen .player .player-card .hp-bar .current, .container .battle-screen .player .enemy-card .hp-bar .current, .container .battle-screen .enemy .player-card .hp-bar .current, .container .battle-screen .enemy .enemy-card .hp-bar .current {
        background-color: #47d45e;
        top: 5px;
        z-index: 2;
        width: 100%; }
      .container .battle-screen .player .player-card .hp-bar .max, .container .battle-screen .player .enemy-card .hp-bar .max, .container .battle-screen .enemy .player-card .hp-bar .max, .container .battle-screen .enemy .enemy-card .hp-bar .max {
        background-color: #ec6767;
        top: -9px;
        z-index: 1; }
      .container .battle-screen .player .player-card .hp-bar .hp, .container .battle-screen .player .enemy-card .hp-bar .hp, .container .battle-screen .enemy .player-card .hp-bar .hp, .container .battle-screen .enemy .enemy-card .hp-bar .hp {
        position: relative;
        top: -4px;
        font-size: 0.9rem;
        line-height: 1.2rem; }
      .container .battle-screen .player .player-card img, .container .battle-screen .player .enemy-card img, .container .battle-screen .enemy .player-card img, .container .battle-screen .enemy .enemy-card img {
        width: 100%; }
      .container .battle-screen .player .player-card .loading-enemy, .container .battle-screen .player .enemy-card .loading-enemy, .container .battle-screen .enemy .player-card .loading-enemy, .container .battle-screen .enemy .enemy-card .loading-enemy {
        width: 100%;
        font-size: 4rem;
        border: 5px solid #269ab8;
        border-radius: 100%;
        line-height: 270px; }
      .container .battle-screen .player .attack-bar .weapon-name, .container .battle-screen .enemy .attack-bar .weapon-name {
        position: relative;
        top: 4px; }
      .container .battle-screen .player .attack-bar .att-empty, .container .battle-screen .player .attack-bar .att-progress, .container .battle-screen .enemy .attack-bar .att-empty, .container .battle-screen .enemy .attack-bar .att-progress {
        height: 14px;
        width: 100%;
        position: relative; }
      .container .battle-screen .player .attack-bar .att-empty, .container .battle-screen .enemy .attack-bar .att-empty {
        background-color: #103c1a;
        top: 8px;
        z-index: 1; }
      .container .battle-screen .player .attack-bar .att-progress, .container .battle-screen .enemy .attack-bar .att-progress {
        background-color: #3bb6d6;
        top: -6px;
        z-index: 2;
        width: 0%; }
      .container .battle-screen .player .player-stats, .container .battle-screen .player .enemy-stats, .container .battle-screen .enemy .player-stats, .container .battle-screen .enemy .enemy-stats {
        padding: 8px;
        border-radius: 10px;
        text-align: left;
        line-height: 1.5rem;
        margin-top: 10px;
        border-top: 2px solid #2ca94b;
        border-left: 2px solid #2ca94b; }
        .container .battle-screen .player .player-stats h3, .container .battle-screen .player .enemy-stats h3, .container .battle-screen .enemy .player-stats h3, .container .battle-screen .enemy .enemy-stats h3 {
          text-align: center; }
        .container .battle-screen .player .player-stats p span, .container .battle-screen .player .enemy-stats p span, .container .battle-screen .enemy .player-stats p span, .container .battle-screen .enemy .enemy-stats p span {
          float: right;
          font-size: 1.2rem; }
    .container .battle-screen .dead {
      color: #e64444; }

@keyframes attBar {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@media screen and (min-width: 1601) {
  .container {
    width: 60%; } }

@media screen and (min-width: 769px) and (max-width: 1600px) {
  .container {
    width: 70%; } }

@media screen and (max-width: 1200px) {
  .container {
    width: 80%; }
    .container .location-selection {
      padding-bottom: 6px;
      justify-content: space-around; }
      .container .location-selection .location-card:nth-child(3) {
        width: 100%; }
      .container .location-selection .location-card {
        width: 42%; }
    .container .battle-screen .player .name, .container .battle-screen .enemy .name {
      font-size: 1.5rem; } }

@media screen and (max-width: 768px) {
  .container {
    width: 85%; }
    .container .battle-screen .player .player-card .name, .container .battle-screen .player .enemy-card .name, .container .battle-screen .enemy .player-card .name, .container .battle-screen .enemy .enemy-card .name {
      font-size: 1.2rem;
      line-height: 1.6rem; }
    .container .location-selection .location-card .location-name {
      font-size: 1.2rem; } }

@media screen and (max-width: 500px) {
  .container {
    width: 95%; }
    .container .location-selection {
      padding-bottom: 6px; }
      .container .location-selection .location-card {
        width: 100%;
        justify-content: center; }
        .container .location-selection .location-card .location-name {
          font-size: 1.2rem; }
    .container .battle-screen {
      padding: 8px; }
      .container .battle-screen .player .player-card .hp-bar .current, .container .battle-screen .player .player-card .hp-bar .max, .container .battle-screen .player .enemy-card .hp-bar .current, .container .battle-screen .player .enemy-card .hp-bar .max, .container .battle-screen .enemy .player-card .hp-bar .current, .container .battle-screen .enemy .player-card .hp-bar .max, .container .battle-screen .enemy .enemy-card .hp-bar .current, .container .battle-screen .enemy .enemy-card .hp-bar .max {
        height: 10px;
        top: 3px; }
      .container .battle-screen .player .player-card .hp-bar .max, .container .battle-screen .player .enemy-card .hp-bar .max, .container .battle-screen .enemy .player-card .hp-bar .max, .container .battle-screen .enemy .enemy-card .hp-bar .max {
        top: -7px; }
      .container .battle-screen .player .player-card .hp-bar .hp, .container .battle-screen .player .enemy-card .hp-bar .hp, .container .battle-screen .enemy .player-card .hp-bar .hp, .container .battle-screen .enemy .enemy-card .hp-bar .hp {
        top: -4px;
        font-size: 0.8rem; }
      .container .battle-screen .player .attack-bar .att-empty, .container .battle-screen .player .attack-bar .att-progress, .container .battle-screen .enemy .attack-bar .att-empty, .container .battle-screen .enemy .attack-bar .att-progress {
        height: 10px; }
      .container .battle-screen .player .attack-bar .att-empty, .container .battle-screen .enemy .attack-bar .att-empty {
        top: 7px; }
      .container .battle-screen .player .attack-bar .att-progress, .container .battle-screen .enemy .attack-bar .att-progress {
        top: -3px; }
      .container .battle-screen .player-stats, .container .battle-screen .enemy-stats, .container .battle-screen span {
        font-size: 0.9rem; } }
