@-webkit-keyframes attBar {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@keyframes attBar {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@-webkit-keyframes loading {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@keyframes loading {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes showModal {
  0% {
    height: 0px;
    width: 0px; }
  90% {
    height: 209px;
    width: 430px; }
  100% {
    height: 179px;
    width: 400px; } }

@keyframes showModal {
  0% { }
  90% { }
  100% { } }

@keyframes hideModal {
  0% { }
  90% { }
  100% { } }

.container .inv-equip .inventory {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 48%;
  border: 2px solid #2ca94b;
  border-top: none;
  border-radius: 10px; }
  .container .inv-equip .inventory h3 {
    width: 100%;
    height: 70px;
    text-align: center;
    padding: 20px;
    border: 2px solid #65c6df;
    border-left: none;
    border-right: none;
    background: #155363;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .container .inv-equip .inventory .inv-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 104px;
    padding: 10px 8px 10px 8px; }
    .container .inv-equip .inventory .inv-list .inv-item:hover {
      cursor: pointer; }
    .container .inv-equip .inventory .inv-list .inv-item {
      width: 70px;
      height: 70px;
      padding: 5px;
      margin: 7px;
      border: 2px solid #269ab8;
      text-align: center;
      border-radius: 10px;
      background-color: #155363; }
      .container .inv-equip .inventory .inv-list .inv-item .item-count {
        position: relative;
        height: 20px;
        margin: 0 5px 0 5px;
        border-radius: 10px;
        padding: 2px;
        background: rgba(44, 169, 75, 0.6);
        bottom: 2px;
        text-align: center;
        line-height: 15px;
        font-size: 0.9rem; }
      .container .inv-equip .inventory .inv-list .inv-item .item-description {
        visibility: visible;
        position: relative;
        background-color: #155363;
        width: 150px;
        top: -123px;
        left: -47px;
        border-radius: 10px;
        z-index: 1; }
        .container .inv-equip .inventory .inv-list .inv-item .item-description .item-name {
          background-color: #2ca94b;
          padding: 5px;
          border-bottom: solid 1px #175827;
          font-weight: 700; }
        .container .inv-equip .inventory .inv-list .inv-item .item-description .item-stats {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          list-style-type: none;
          padding: 10px 10px 10px 10px;
          text-align: left; }
          .container .inv-equip .inventory .inv-list .inv-item .item-description .item-stats span {
            float: right; }
      .container .inv-equip .inventory .inv-list .inv-item .item-menu {
        position: relative;
        visibility: visible;
        top: -204px;
        left: -26px;
        padding: 7px;
        background-color: #155363;
        border-radius: 10px;
        width: 108px;
        z-index: 1; }
        .container .inv-equip .inventory .inv-list .inv-item .item-menu :first-child {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px; }
        .container .inv-equip .inventory .inv-list .inv-item .item-menu div:hover {
          cursor: pointer;
          background-color: #2ca94b; }
        .container .inv-equip .inventory .inv-list .inv-item .item-menu div:active {
          background-color: #269ab8; }
        .container .inv-equip .inventory .inv-list .inv-item .item-menu div {
          padding: 7px;
          background-color: #155363;
          width: 100%;
          border-bottom: 2px solid #65c6df;
          -webkit-transition: background-color 0.1s ease-in-out;
          -moz-transition: background-color 0.1s ease-in-out;
          -ms-transition: background-color 0.1s ease-in-out;
          -o-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
        .container .inv-equip .inventory .inv-list .inv-item .item-menu :last-child {
          border-bottom: none;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px; }
      .container .inv-equip .inventory .inv-list .inv-item .hide {
        visibility: hidden; }

.container .inv-equip .equipment {
  width: 48%;
  border: 2px solid #2ca94b;
  border-top: none;
  border-radius: 10px; }
  .container .inv-equip .equipment h3 {
    width: 100%;
    height: 70px;
    text-align: center;
    padding: 20px;
    border: 2px solid #65c6df;
    border-left: none;
    border-right: none;
    background: #155363;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .container .inv-equip .equipment .equipment-slots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    justify-items: center; }
    .container .inv-equip .equipment .equipment-slots .helmet, .container .inv-equip .equipment .equipment-slots .weapon, .container .inv-equip .equipment .equipment-slots .armor, .container .inv-equip .equipment .equipment-slots .shield, .container .inv-equip .equipment .equipment-slots .pants, .container .inv-equip .equipment .equipment-slots .boots {
      width: 70px;
      height: 70px;
      margin-bottom: 20px;
      padding: 8px;
      background-color: #155363;
      border: 2px solid #269ab8;
      border-radius: 10px; }
      .container .inv-equip .equipment .equipment-slots .helmet .equipped-item, .container .inv-equip .equipment .equipment-slots .weapon .equipped-item, .container .inv-equip .equipment .equipment-slots .armor .equipped-item, .container .inv-equip .equipment .equipment-slots .shield .equipped-item, .container .inv-equip .equipment .equipment-slots .pants .equipped-item, .container .inv-equip .equipment .equipment-slots .boots .equipped-item {
        height: 100%;
        text-align: center; }
        .container .inv-equip .equipment .equipment-slots .helmet .equipped-item .item-description, .container .inv-equip .equipment .equipment-slots .weapon .equipped-item .item-description, .container .inv-equip .equipment .equipment-slots .armor .equipped-item .item-description, .container .inv-equip .equipment .equipment-slots .shield .equipped-item .item-description, .container .inv-equip .equipment .equipment-slots .pants .equipped-item .item-description, .container .inv-equip .equipment .equipment-slots .boots .equipped-item .item-description {
          visibility: visible;
          position: relative;
          background-color: #155363;
          width: 150px;
          top: -33px;
          left: -52px;
          border-radius: 10px;
          z-index: 1; }
          .container .inv-equip .equipment .equipment-slots .helmet .equipped-item .item-description .item-name, .container .inv-equip .equipment .equipment-slots .weapon .equipped-item .item-description .item-name, .container .inv-equip .equipment .equipment-slots .armor .equipped-item .item-description .item-name, .container .inv-equip .equipment .equipment-slots .shield .equipped-item .item-description .item-name, .container .inv-equip .equipment .equipment-slots .pants .equipped-item .item-description .item-name, .container .inv-equip .equipment .equipment-slots .boots .equipped-item .item-description .item-name {
            background-color: #2ca94b;
            padding: 5px;
            border-bottom: solid 1px #175827;
            font-weight: 700; }
          .container .inv-equip .equipment .equipment-slots .helmet .equipped-item .item-description .item-stats, .container .inv-equip .equipment .equipment-slots .weapon .equipped-item .item-description .item-stats, .container .inv-equip .equipment .equipment-slots .armor .equipped-item .item-description .item-stats, .container .inv-equip .equipment .equipment-slots .shield .equipped-item .item-description .item-stats, .container .inv-equip .equipment .equipment-slots .pants .equipped-item .item-description .item-stats, .container .inv-equip .equipment .equipment-slots .boots .equipped-item .item-description .item-stats {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            list-style-type: none;
            padding: 10px 10px 10px 10px;
            text-align: left; }
            .container .inv-equip .equipment .equipment-slots .helmet .equipped-item .item-description .item-stats span, .container .inv-equip .equipment .equipment-slots .weapon .equipped-item .item-description .item-stats span, .container .inv-equip .equipment .equipment-slots .armor .equipped-item .item-description .item-stats span, .container .inv-equip .equipment .equipment-slots .shield .equipped-item .item-description .item-stats span, .container .inv-equip .equipment .equipment-slots .pants .equipped-item .item-description .item-stats span, .container .inv-equip .equipment .equipment-slots .boots .equipped-item .item-description .item-stats span {
              float: right; }
        .container .inv-equip .equipment .equipment-slots .helmet .equipped-item .item-menu, .container .inv-equip .equipment .equipment-slots .weapon .equipped-item .item-menu, .container .inv-equip .equipment .equipment-slots .armor .equipped-item .item-menu, .container .inv-equip .equipment .equipment-slots .shield .equipped-item .item-menu, .container .inv-equip .equipment .equipment-slots .pants .equipped-item .item-menu, .container .inv-equip .equipment .equipment-slots .boots .equipped-item .item-menu {
          position: relative;
          visibility: visible;
          top: -50px;
          left: -16px;
          padding: 4px;
          background-color: #155363;
          border-radius: 10px;
          width: 81px;
          z-index: 1; }
          .container .inv-equip .equipment .equipment-slots .helmet .equipped-item .item-menu div:hover, .container .inv-equip .equipment .equipment-slots .weapon .equipped-item .item-menu div:hover, .container .inv-equip .equipment .equipment-slots .armor .equipped-item .item-menu div:hover, .container .inv-equip .equipment .equipment-slots .shield .equipped-item .item-menu div:hover, .container .inv-equip .equipment .equipment-slots .pants .equipped-item .item-menu div:hover, .container .inv-equip .equipment .equipment-slots .boots .equipped-item .item-menu div:hover {
            cursor: pointer;
            background-color: #2ca94b; }
          .container .inv-equip .equipment .equipment-slots .helmet .equipped-item .item-menu div:active, .container .inv-equip .equipment .equipment-slots .weapon .equipped-item .item-menu div:active, .container .inv-equip .equipment .equipment-slots .armor .equipped-item .item-menu div:active, .container .inv-equip .equipment .equipment-slots .shield .equipped-item .item-menu div:active, .container .inv-equip .equipment .equipment-slots .pants .equipped-item .item-menu div:active, .container .inv-equip .equipment .equipment-slots .boots .equipped-item .item-menu div:active {
            background-color: #269ab8; }
          .container .inv-equip .equipment .equipment-slots .helmet .equipped-item .item-menu div, .container .inv-equip .equipment .equipment-slots .weapon .equipped-item .item-menu div, .container .inv-equip .equipment .equipment-slots .armor .equipped-item .item-menu div, .container .inv-equip .equipment .equipment-slots .shield .equipped-item .item-menu div, .container .inv-equip .equipment .equipment-slots .pants .equipped-item .item-menu div, .container .inv-equip .equipment .equipment-slots .boots .equipped-item .item-menu div {
            padding: 7px;
            background-color: #155363;
            width: 100%;
            border-radius: 10px;
            -webkit-transition: background-color 0.1s ease-in-out;
            -moz-transition: background-color 0.1s ease-in-out;
            -ms-transition: background-color 0.1s ease-in-out;
            -o-transition: background-color 0.1s ease-in-out;
            transition: background-color 0.1s ease-in-out; }
        .container .inv-equip .equipment .equipment-slots .helmet .equipped-item .hide, .container .inv-equip .equipment .equipment-slots .weapon .equipped-item .hide, .container .inv-equip .equipment .equipment-slots .armor .equipped-item .hide, .container .inv-equip .equipment .equipment-slots .shield .equipped-item .hide, .container .inv-equip .equipment .equipment-slots .pants .equipped-item .hide, .container .inv-equip .equipment .equipment-slots .boots .equipped-item .hide {
          visibility: hidden; }
    .container .inv-equip .equipment .equipment-slots .helmet, .container .inv-equip .equipment .equipment-slots .pants, .container .inv-equip .equipment .equipment-slots .boots {
      grid-column: 1/4; }
    .container .inv-equip .equipment .equipment-slots .weapon {
      justify-self: end; }
    .container .inv-equip .equipment .equipment-slots .shield {
      justify-self: start; }
    .container .inv-equip .equipment .equipment-slots .boots {
      margin-bottom: 0px; }

.container .msg {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-left: -160px;
  left: 50%;
  bottom: 30px;
  width: 320px;
  min-height: 50px;
  opacity: 1;
  overflow: hidden;
  -webkit-transition: all 1s cubic-bezier(0, 0.9, 0.4, 1);
  -moz-transition: all 1s cubic-bezier(0, 0.9, 0.4, 1);
  -ms-transition: all 1s cubic-bezier(0, 0.9, 0.4, 1);
  -o-transition: all 1s cubic-bezier(0, 0.9, 0.4, 1);
  transition: all 1s cubic-bezier(0, 0.9, 0.4, 1);
  z-index: 2; }
  .container .msg .msg-success, .container .msg .msg-danger {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 12px;
    height: 50px;
    border-radius: 10px;
    border-top: 2px solid #65c6df;
    border-left: 2px solid #65c6df;
    margin-bottom: 15px;
    -webkit-transition: all 1s cubic-bezier(0, 0.9, 0.4, 1);
    -moz-transition: all 1s cubic-bezier(0, 0.9, 0.4, 1);
    -ms-transition: all 1s cubic-bezier(0, 0.9, 0.4, 1);
    -o-transition: all 1s cubic-bezier(0, 0.9, 0.4, 1);
    transition: all 1s cubic-bezier(0, 0.9, 0.4, 1); }
    .container .msg .msg-success img, .container .msg .msg-danger img {
      width: 40px;
      height: 40px; }
  .container .msg .msg-success {
    background-color: #155363; }
  .container .msg .msg-danger {
    background-color: #ec6767; }

.container .hide {
  visibility: hidden;
  bottom: -50px;
  opacity: 0;
  overflow: hidden; }

.container .modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .container .modal-container .confirmation-modal {
    width: 400px;
    height: 179px;
    margin: auto;
    margin-top: 10%;
    background-color: rgba(241, 241, 241, 0.88);
    color: #303030;
    font-weight: 500;
    border-radius: 10px;
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .container .modal-container .confirmation-modal.hidden {
      height: 0px;
      width: 0px;
      opacity: 0;
      margin-top: calc(10% + (179px/2)); }
      .container .modal-container .confirmation-modal.hidden span {
        padding: 0;
        font-size: 0;
        opacity: 0; }
      .container .modal-container .confirmation-modal.hidden .modal-text {
        font-size: 0;
        padding: 0;
        opacity: 0; }
      .container .modal-container .confirmation-modal.hidden .btn-yes, .container .modal-container .confirmation-modal.hidden .btn-no {
        padding: 0;
        margin: 0;
        opacity: 0; }
    .container .modal-container .confirmation-modal span {
      float: right;
      padding: 0 9px 0 0;
      color: black;
      font-weight: 1000;
      font-size: 1.5rem;
      opacity: 1;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      .container .modal-container .confirmation-modal span:hover {
        cursor: pointer; }
    .container .modal-container .confirmation-modal .modal-text {
      font-size: 1.1rem;
      text-align: center;
      padding: 42px 40px 0 40px;
      opacity: 1;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    .container .modal-container .confirmation-modal .btn-yes, .container .modal-container .confirmation-modal .btn-no {
      padding: 10px;
      text-align: center;
      width: 30%;
      float: left;
      background-color: #2680ca;
      color: white;
      border-radius: 10px;
      margin: 30px 20px 0px 20px;
      opacity: 1;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      .container .modal-container .confirmation-modal .btn-yes:hover, .container .modal-container .confirmation-modal .btn-no:hover {
        cursor: pointer; }
    .container .modal-container .confirmation-modal .btn-no {
      float: right;
      background-color: #ff5050; }

.container .hide-modal {
  visibility: hidden;
  opacity: 0; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://pbs.twimg.com/media/C4TkyIrWYAADSyy?format=png&name=large); }

.container {
  width: 60%;
  min-width: 288px;
  margin: auto;
  color: #f7f7f7; }
  .container .location-selection, .container .location-selection-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 2px solid #2ca94b; }
    .container .location-selection .location-card, .container .location-selection-mobile .location-card {
      position: relative;
      display: flex;
      flex: 1 1 29%;
      margin: 5px;
      height: 86px;
      padding: 12px;
      border-top: 2px solid #2ca94b;
      border-right: 2px solid #2ca94b;
      border-radius: 10px;
      margin: 15px 15px 0px 15px;
      background-color: #155363;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
      .container .location-selection .location-card:hover, .container .location-selection-mobile .location-card:hover {
        transform: translate(2px, -2px);
        cursor: pointer;
        box-shadow: -2px 2px 5px rgba(38, 154, 184, 0.7), -1px 1px 5px rgba(38, 154, 184, 0.7); }
      .container .location-selection .location-card .location-img, .container .location-selection-mobile .location-card .location-img {
        height: 60px;
        width: 60px; }
      .container .location-selection .location-card .location-name, .container .location-selection-mobile .location-card .location-name {
        text-transform: capitalize;
        font-size: 1.6rem;
        width: 100%;
        text-align: center;
        font-weight: 500;
        line-height: 55px;
        overflow: hidden; }
  .container .location-selection-mobile {
    display: none;
    grid-template-columns: 1fr;
    padding: 0 8px 8px 8px; }
    .container .location-selection-mobile .location-card {
      display: flex;
      align-items: center;
      height: 0;
      margin: 0;
      padding: 0;
      border: 0; }
      .container .location-selection-mobile .location-card .location-name {
        position: relative;
        right: 20px;
        font-size: 0rem;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      .container .location-selection-mobile .location-card .location-img {
        position: relative;
        top: 20px;
        left: 20px;
        height: 0px;
        width: 0px;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
    .container .location-selection-mobile .mobile-dropdown-btn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0px;
      height: 32px;
      font-size: 0.8rem;
      border-right: 2px solid #2ca94b;
      border-top: 1px solid #2ca94b;
      border-radius: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      background-color: #155363;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      .container .location-selection-mobile .mobile-dropdown-btn:hover {
        cursor: pointer;
        box-shadow: -2px 2px 5px rgba(38, 154, 184, 0.7), -1px 1px 5px rgba(38, 154, 184, 0.7);
        font-size: 0.95rem; }
      .container .location-selection-mobile .mobile-dropdown-btn span {
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
    .container .location-selection-mobile .btn-opened {
      border-radius: 10px;
      margin-top: 8px; }
      .container .location-selection-mobile .btn-opened span {
        transform: rotate(180deg); }
    .container .location-selection-mobile .show {
      height: 50px;
      margin: 8px 0px 0px 0px;
      padding: 12px;
      border-top: 2px solid #2ca94b;
      border-right: 2px solid #2ca94b; }
      .container .location-selection-mobile .show .location-name {
        opacity: 1;
        font-size: 1.2rem; }
      .container .location-selection-mobile .show .location-img {
        top: 0;
        left: 0;
        opacity: 1;
        height: 40px;
        width: 40px; }
    .container .location-selection-mobile .first {
      top: 0;
      left: 0;
      height: 50px;
      margin: 8px 0px 0px 0px;
      padding: 12px;
      justify-content: center;
      border-top: 2px solid #2ca94b;
      border-right: 2px solid #2ca94b;
      grid-row-start: 1;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      z-index: 1; }
      .container .location-selection-mobile .first .location-name {
        display: block; }
      .container .location-selection-mobile .first .location-img {
        display: block; }
    .container .location-selection-mobile .first-card-opened {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; }
  .container .battle-screen {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px; }
    .container .battle-screen .player, .container .battle-screen .enemy {
      padding: 10px;
      padding-top: 4px;
      border: 2px solid #269ab8;
      background-color: #155363;
      border-radius: 10px;
      text-align: center;
      width: 30%; }
      .container .battle-screen .player .player-card .name, .container .battle-screen .player .enemy-card .name, .container .battle-screen .enemy .player-card .name, .container .battle-screen .enemy .enemy-card .name {
        font-size: 1.6rem;
        text-transform: capitalize; }
      .container .battle-screen .player .player-card .hp-bar .current, .container .battle-screen .player .player-card .hp-bar .max, .container .battle-screen .player .enemy-card .hp-bar .current, .container .battle-screen .player .enemy-card .hp-bar .max, .container .battle-screen .enemy .player-card .hp-bar .current, .container .battle-screen .enemy .player-card .hp-bar .max, .container .battle-screen .enemy .enemy-card .hp-bar .current, .container .battle-screen .enemy .enemy-card .hp-bar .max {
        height: 14px;
        width: 100%;
        position: relative; }
      .container .battle-screen .player .player-card .hp-bar .current, .container .battle-screen .player .enemy-card .hp-bar .current, .container .battle-screen .enemy .player-card .hp-bar .current, .container .battle-screen .enemy .enemy-card .hp-bar .current {
        background-color: #47d45e;
        top: 5px;
        z-index: 2;
        width: 100%; }
      .container .battle-screen .player .player-card .hp-bar .max, .container .battle-screen .player .enemy-card .hp-bar .max, .container .battle-screen .enemy .player-card .hp-bar .max, .container .battle-screen .enemy .enemy-card .hp-bar .max {
        background-color: #ec6767;
        top: -9px;
        z-index: 1; }
      .container .battle-screen .player .player-card .hp-bar .hp, .container .battle-screen .player .enemy-card .hp-bar .hp, .container .battle-screen .enemy .player-card .hp-bar .hp, .container .battle-screen .enemy .enemy-card .hp-bar .hp {
        position: relative;
        top: -13px;
        font-size: 1.1rem;
        line-height: 1.2rem; }
      .container .battle-screen .player .player-card .hp-bar .player-att-status, .container .battle-screen .player .enemy-card .hp-bar .player-att-status, .container .battle-screen .enemy .player-card .hp-bar .player-att-status, .container .battle-screen .enemy .enemy-card .hp-bar .player-att-status {
        position: relative;
        text-align: right;
        top: 4px;
        visibility: hidden;
        font-size: 0.8rem; }
      .container .battle-screen .player .player-card .hp-bar .enemy-att-status, .container .battle-screen .player .enemy-card .hp-bar .enemy-att-status, .container .battle-screen .enemy .player-card .hp-bar .enemy-att-status, .container .battle-screen .enemy .enemy-card .hp-bar .enemy-att-status {
        position: relative;
        text-align: left;
        top: 4px;
        visibility: hidden;
        font-size: 0.8rem; }
      .container .battle-screen .player .player-card .hp-bar .dmg, .container .battle-screen .player .enemy-card .hp-bar .dmg, .container .battle-screen .enemy .player-card .hp-bar .dmg, .container .battle-screen .enemy .enemy-card .hp-bar .dmg {
        color: #e64444;
        visibility: visible; }
      .container .battle-screen .player .player-card .hp-bar .miss, .container .battle-screen .player .enemy-card .hp-bar .miss, .container .battle-screen .enemy .player-card .hp-bar .miss, .container .battle-screen .enemy .enemy-card .hp-bar .miss {
        color: inherit;
        visibility: visible; }
      .container .battle-screen .player .player-card .player-img, .container .battle-screen .player .player-card .enemy-img, .container .battle-screen .player .player-card .loading-img, .container .battle-screen .player .enemy-card .player-img, .container .battle-screen .player .enemy-card .enemy-img, .container .battle-screen .player .enemy-card .loading-img, .container .battle-screen .enemy .player-card .player-img, .container .battle-screen .enemy .player-card .enemy-img, .container .battle-screen .enemy .player-card .loading-img, .container .battle-screen .enemy .enemy-card .player-img, .container .battle-screen .enemy .enemy-card .enemy-img, .container .battle-screen .enemy .enemy-card .loading-img {
        width: 100%; }
      .container .battle-screen .player .player-card .heal-quick-bar, .container .battle-screen .player .enemy-card .heal-quick-bar, .container .battle-screen .enemy .player-card .heal-quick-bar, .container .battle-screen .enemy .enemy-card .heal-quick-bar {
        display: flex;
        position: relative;
        top: -74px;
        right: 3px; }
        .container .battle-screen .player .player-card .heal-quick-bar .heal-quick-bar-container, .container .battle-screen .player .enemy-card .heal-quick-bar .heal-quick-bar-container, .container .battle-screen .enemy .player-card .heal-quick-bar .heal-quick-bar-container, .container .battle-screen .enemy .enemy-card .heal-quick-bar .heal-quick-bar-container {
          position: absolute;
          display: flex;
          justify-content: flex-end;
          width: 100%;
          left: 2px; }
          .container .battle-screen .player .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item, .container .battle-screen .player .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item, .container .battle-screen .enemy .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item, .container .battle-screen .enemy .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item {
            position: relative;
            display: flex;
            background-color: rgba(21, 83, 99, 0.5);
            box-shadow: -1px -1px 1px 1px #2ca94b;
            padding: 12px;
            bottom: 2px;
            margin: 0 2px 0 2px;
            border-radius: 50%;
            justify-content: center;
            align-items: center; }
            .container .battle-screen .player .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item:active, .container .battle-screen .player .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item:active, .container .battle-screen .enemy .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item:active, .container .battle-screen .enemy .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item:active {
              box-shadow: inset 2px 2px 5px 2px rgba(0, 0, 0, 0.1); }
              .container .battle-screen .player .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item:active .item-num, .container .battle-screen .player .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item:active .item-num, .container .battle-screen .enemy .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item:active .item-num, .container .battle-screen .enemy .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item:active .item-num {
                margin-right: 0; }
            .container .battle-screen .player .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item:hover, .container .battle-screen .player .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item:hover, .container .battle-screen .enemy .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item:hover, .container .battle-screen .enemy .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item:hover {
              cursor: pointer; }
            .container .battle-screen .player .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-num, .container .battle-screen .player .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-num, .container .battle-screen .enemy .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-num, .container .battle-screen .enemy .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-num {
              justify-content: center;
              align-items: center;
              display: flex;
              position: absolute;
              background-color: rgba(23, 88, 39, 0.4);
              border-radius: 50%;
              width: 25px;
              height: 25px;
              font-size: 1rem;
              bottom: -7px;
              margin-right: 1px; }
            .container .battle-screen .player .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-img, .container .battle-screen .player .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-img, .container .battle-screen .enemy .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-img, .container .battle-screen .enemy .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-img {
              width: 40px;
              height: 40px; }
              .container .battle-screen .player .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-img img, .container .battle-screen .player .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-img img, .container .battle-screen .enemy .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-img img, .container .battle-screen .enemy .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-img img {
                width: 100%;
                height: 100%; }
      .container .battle-screen .player .player-card .loading-img, .container .battle-screen .player .enemy-card .loading-img, .container .battle-screen .enemy .player-card .loading-img, .container .battle-screen .enemy .enemy-card .loading-img {
        -webkit-animation: loading 1s linear infinite;
        animation: loading 1s linear infinite; }
      .container .battle-screen .player .attack-bar .weapon-name, .container .battle-screen .enemy .attack-bar .weapon-name {
        position: relative;
        top: 4px; }
      .container .battle-screen .player .attack-bar .no-weapon, .container .battle-screen .enemy .attack-bar .no-weapon {
        visibility: hidden; }
      .container .battle-screen .player .attack-bar .att-empty, .container .battle-screen .player .attack-bar .att-progress, .container .battle-screen .enemy .attack-bar .att-empty, .container .battle-screen .enemy .attack-bar .att-progress {
        height: 14px;
        width: 100%;
        position: relative; }
      .container .battle-screen .player .attack-bar .att-empty, .container .battle-screen .enemy .attack-bar .att-empty {
        background-color: #103c1a;
        top: 8px;
        z-index: 1; }
      .container .battle-screen .player .attack-bar .att-progress, .container .battle-screen .enemy .attack-bar .att-progress {
        background-color: #3bb6d6;
        top: -6px;
        z-index: 2;
        width: 0%; }
      .container .battle-screen .player .stats, .container .battle-screen .enemy .stats {
        padding: 8px;
        border-radius: 10px;
        text-align: left;
        line-height: 1.5rem;
        margin-top: 10px;
        border-top: 2px solid #2ca94b;
        border-left: 2px solid #2ca94b; }
        .container .battle-screen .player .stats h3, .container .battle-screen .enemy .stats h3 {
          text-align: center; }
        .container .battle-screen .player .stats p span, .container .battle-screen .enemy .stats p span {
          float: right;
          font-size: 1.2rem; }
    .container .battle-screen .dead {
      color: #e64444; }
  .container .inv-equip {
    display: flex;
    padding: 0 15px 15px 15px;
    justify-content: space-between; }

@media screen and (min-width: 1601) {
  .container {
    width: 60%; } }

@media screen and (max-width: 1600px) {
  .container {
    width: 70%; }
    .container .battle-screen .player .player-card .heal-quick-bar, .container .battle-screen .player .enemy-card .heal-quick-bar, .container .battle-screen .enemy .player-card .heal-quick-bar, .container .battle-screen .enemy .enemy-card .heal-quick-bar {
      top: -67px; }
      .container .battle-screen .player .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item, .container .battle-screen .player .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item, .container .battle-screen .enemy .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item, .container .battle-screen .enemy .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item {
        padding: 10px; }
        .container .battle-screen .player .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-num, .container .battle-screen .player .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-num, .container .battle-screen .enemy .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-num, .container .battle-screen .enemy .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-num {
          width: 25px;
          height: 25px;
          font-size: 0.9rem; }
        .container .battle-screen .player .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-img, .container .battle-screen .player .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-img, .container .battle-screen .enemy .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-img, .container .battle-screen .enemy .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-img {
          width: 36px;
          height: 36px; } }

@media screen and (max-width: 1200px) {
  .container {
    width: 80%; }
    .container .battle-screen .player, .container .battle-screen .enemy {
      width: 39%; }
      .container .battle-screen .player .player-card .name, .container .battle-screen .player .enemy-card .name, .container .battle-screen .enemy .player-card .name, .container .battle-screen .enemy .enemy-card .name {
        font-size: 1.5rem; }
      .container .battle-screen .player .player-card .heal-quick-bar, .container .battle-screen .player .enemy-card .heal-quick-bar, .container .battle-screen .enemy .player-card .heal-quick-bar, .container .battle-screen .enemy .enemy-card .heal-quick-bar {
        top: -60px; }
        .container .battle-screen .player .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item, .container .battle-screen .player .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item, .container .battle-screen .enemy .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item, .container .battle-screen .enemy .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item {
          padding: 8px; }
          .container .battle-screen .player .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-num, .container .battle-screen .player .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-num, .container .battle-screen .enemy .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-num, .container .battle-screen .enemy .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-num {
            width: 22px;
            height: 22px;
            font-size: 0.9rem; }
          .container .battle-screen .player .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-img, .container .battle-screen .player .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-img, .container .battle-screen .enemy .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-img, .container .battle-screen .enemy .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-img {
            width: 33px;
            height: 33px; }
    .container .modal-container .confirmation-modal {
      margin-top: 18%; }
      .container .modal-container .confirmation-modal.hidden {
        margin-top: calc(18% + (179px/2)); } }

@media screen and (max-width: 768px) {
  .container {
    width: 85%; }
    .container .location-selection {
      display: none; }
    .container .location-selection-mobile {
      display: grid; }
    .container .battle-screen .player, .container .battle-screen .enemy {
      width: 45%; }
      .container .battle-screen .player .player-card .name, .container .battle-screen .player .enemy-card .name, .container .battle-screen .enemy .player-card .name, .container .battle-screen .enemy .enemy-card .name {
        font-size: 1.2rem;
        line-height: 1.6rem; }
      .container .battle-screen .player .player-card .hp-bar .hp, .container .battle-screen .player .enemy-card .hp-bar .hp, .container .battle-screen .enemy .player-card .hp-bar .hp, .container .battle-screen .enemy .enemy-card .hp-bar .hp {
        font-size: 1rem; }
      .container .battle-screen .player .player-card .heal-quick-bar, .container .battle-screen .player .enemy-card .heal-quick-bar, .container .battle-screen .enemy .player-card .heal-quick-bar, .container .battle-screen .enemy .enemy-card .heal-quick-bar {
        top: -50px; }
        .container .battle-screen .player .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item, .container .battle-screen .player .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item, .container .battle-screen .enemy .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item, .container .battle-screen .enemy .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item {
          padding: 8px;
          border-radius: 50%; }
          .container .battle-screen .player .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-num, .container .battle-screen .player .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-num, .container .battle-screen .enemy .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-num, .container .battle-screen .enemy .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-num {
            border-radius: 50%;
            width: 15px;
            height: 15px;
            font-size: 0.6rem;
            bottom: -5px;
            margin-right: 1px; }
          .container .battle-screen .player .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-img, .container .battle-screen .player .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-img, .container .battle-screen .enemy .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-img, .container .battle-screen .enemy .enemy-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item .item-img {
            width: 25px;
            height: 25px; }
    .container .modal-container .confirmation-modal {
      margin-top: 30%; }
      .container .modal-container .confirmation-modal.hidden {
        margin-top: calc(30% + (179px/2)); }
    .container .inv-equip {
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column-reverse; }
      .container .inv-equip .equipment, .container .inv-equip .inventory {
        width: 100%; }
      .container .inv-equip .equipment {
        margin-top: 15px; } }

@media screen and (max-width: 500px) {
  .container {
    width: 95%; }
    .container .location-selection-mobile .location-card:hover {
      transform: none;
      box-shadow: none; }
    .container .location-selection-mobile .location-card:active {
      transform: translate(2px, -2px);
      box-shadow: -2px 2px 5px rgba(38, 154, 184, 0.7), -1px 1px 5px rgba(38, 154, 184, 0.7); }
    .container .location-selection-mobile .mobile-dropdown-btn {
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none; }
      .container .location-selection-mobile .mobile-dropdown-btn:hover {
        box-shadow: none; }
      .container .location-selection-mobile .mobile-dropdown-btn:active {
        box-shadow: -2px 2px 5px rgba(38, 154, 184, 0.7), -1px 1px 5px rgba(38, 154, 184, 0.7); }
    .container .battle-screen {
      padding: 8px; }
      .container .battle-screen .player, .container .battle-screen .enemy {
        width: 48%; }
        .container .battle-screen .player .player-card .hp-bar .current, .container .battle-screen .player .player-card .hp-bar .max, .container .battle-screen .player .enemy-card .hp-bar .current, .container .battle-screen .player .enemy-card .hp-bar .max, .container .battle-screen .enemy .player-card .hp-bar .current, .container .battle-screen .enemy .player-card .hp-bar .max, .container .battle-screen .enemy .enemy-card .hp-bar .current, .container .battle-screen .enemy .enemy-card .hp-bar .max {
          height: 10px;
          top: 3px; }
        .container .battle-screen .player .player-card .hp-bar .max, .container .battle-screen .player .enemy-card .hp-bar .max, .container .battle-screen .enemy .player-card .hp-bar .max, .container .battle-screen .enemy .enemy-card .hp-bar .max {
          top: -7px; }
        .container .battle-screen .player .player-card .hp-bar .hp, .container .battle-screen .player .enemy-card .hp-bar .hp, .container .battle-screen .enemy .player-card .hp-bar .hp, .container .battle-screen .enemy .enemy-card .hp-bar .hp {
          font-size: 0.8rem; }
        .container .battle-screen .player .player-card .heal-quick-bar .heal-quick-bar-container, .container .battle-screen .player .enemy-card .heal-quick-bar .heal-quick-bar-container, .container .battle-screen .enemy .player-card .heal-quick-bar .heal-quick-bar-container, .container .battle-screen .enemy .enemy-card .heal-quick-bar .heal-quick-bar-container {
          padding: 0 5px 0 5px;
          left: 4px;
          justify-content: space-around; }
        .container .battle-screen .player .attack-bar .att-empty, .container .battle-screen .player .attack-bar .att-progress, .container .battle-screen .enemy .attack-bar .att-empty, .container .battle-screen .enemy .attack-bar .att-progress {
          height: 10px; }
        .container .battle-screen .player .attack-bar .att-empty, .container .battle-screen .enemy .attack-bar .att-empty {
          top: 7px; }
        .container .battle-screen .player .attack-bar .att-progress, .container .battle-screen .enemy .attack-bar .att-progress {
          top: -3px; }
        .container .battle-screen .player .stats p span, .container .battle-screen .enemy .stats p span {
          font-size: 0.86rem; }
    .container .modal-container .confirmation-modal {
      height: 140px;
      width: 260px;
      margin-top: 45%;
      font-size: 0.8rem; }
      .container .modal-container .confirmation-modal.hidden {
        margin-top: calc(45% + (140px/2)); }
      .container .modal-container .confirmation-modal span {
        display: none; }
      .container .modal-container .confirmation-modal .modal-text {
        font-size: 0.9rem;
        padding: 26px 10px 0 10px; }
      .container .modal-container .confirmation-modal .btn-yes {
        margin: 22px 0px 0px 35px; }
      .container .modal-container .confirmation-modal .btn-no {
        margin: 22px 35px 0px 0px; }
    .container .inv-equip {
      padding: 8px; }
      .container .inv-equip .equipment, .container .inv-equip .inventory {
        width: 100%; }
      .container .inv-equip .equipment {
        margin-bottom: 8px; } }

@media screen and (max-width: 365px) {
  .container .battle-screen .player .player-card .heal-quick-bar .heal-quick-bar-container {
    bottom: -40px; }
    .container .battle-screen .player .player-card .heal-quick-bar .heal-quick-bar-container .heal-quick-bar-item {
      padding: 4px; } }
