.container {
  .inv-equip {
    .equipment {
      width: 48%;
      border: 2px solid $secondary-color-lighter;
      border-top: none;
      border-radius: $border-radius;
      align-self: flex-start;

      h3 {
        width: 100%;
        height: 70px;
        text-align: center;
        padding: 20px;
        border: 2px solid $primary-color-lighter;
        border-left: none;
        border-right: none;
        background: $primary-color-darker;
        border-radius: 8px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .equipment-slots {
        display: grid;
        height: 380px;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px;
        justify-items: center;

        .helmet,
        .weapon,
        .armor,
        .shield,
        .pants,
        .boots {
          width: 70px;
          height: 70px;
          margin-bottom: 20px;
          padding: 8px;
          background-color: $primary-color-darker;
          border: 2px solid $primary-color;
          border-radius: $border-radius;

          .equipped-item {
            height: 100%;
            text-align: center;

            .item-description {
              visibility: visible;
              position: relative;
              background-color: $primary-color-darker;
              width: 150px;
              top: -33px;
              left: -52px;
              border-radius: $border-radius;
              z-index: 1;

              .item-name {
                background-color: $secondary-color-lighter;
                padding: 5px;
                border-bottom: solid 1px $secondary-color;
                font-weight: 700;
              }

              .item-stats {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                list-style-type: none;
                padding: 10px 10px 10px 10px;
                text-align: left;

                span {
                  float: right;
                }
              }
            }

            .item-menu {
              position: relative;
              visibility: visible;
              top: -50px;
              left: -16px;
              padding: 4px;
              background-color: $primary-color-darker;
              border-radius: $border-radius;
              width: 81px;
              z-index: 1;

              div:hover {
                cursor: pointer;
                background-color: $secondary-color-lighter;
              }

              div:active {
                background-color: $primary-color;
              }

              div {
                padding: 7px;
                background-color: $primary-color-darker;
                width: 100%;
                border-radius: $border-radius;
                -webkit-transition: background-color 0.1s ease-in-out;
                -moz-transition: background-color 0.1s ease-in-out;
                -ms-transition: background-color 0.1s ease-in-out;
                -o-transition: background-color 0.1s ease-in-out;
                transition: background-color 0.1s ease-in-out;
              }
            }

            .hide {
              visibility: hidden;
            }
          }
        }

        .helmet,
        .pants,
        .boots {
          grid-column: 1/4;
        }

        .weapon {
          justify-self: end;
        }

        .shield {
          justify-self: start;
        }

        .boots {
          margin-bottom: 0px;
        }
      }
    }
  }
}
