$primary-color: rgb(23, 88, 39); // should be darker rgb(88, 62, 23);
$primary-color-lighter: lighten($primary-color, 20);
$primary-color-darker: darken($primary-color, 20);
$secondary-color: rgb(38, 154, 184); // should be lighter rgb(153, 49, 201);
$secondary-color-lighter: lighten($secondary-color, 20);
$secondary-color-darker: darken($secondary-color, 20);
$border-radius: 10px;
$bar-height: 14px;
$bar-height-smaller: 10px;
$loading-animation-time: 1s;

// Media Query Mixins
@mixin mediaXxsm {
    @media screen and (max-width: 365px) {
        @content;
    }
}

@mixin mediaXsm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaSm {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin mediaMd {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (max-width: 1600px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1601) {
        @content;
    }
}

@-webkit-keyframes attBar {
    0% { width: 0% }
    100% { width: 100% }
} @keyframes attBar {
    0% { width: 0% }
    100% { width: 100% }
}

@-webkit-keyframes loading {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
} @keyframes loading {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}