@include mediaXl {
    .container {
        width: 60%;
    }
}

@include mediaLg {
    .container {
        width: 70%;
    }
}

@include mediaMd {
    .container {
        width: 80%;
        
        .battle-screen {
            .player, .enemy {
                width: 39%;

                .name {
                    font-size: 1.5rem
                }
            }
        }
    }
}

@include mediaSm {
    .container {
        width: 85%;

        .location-selection {
            display: none;
        }

        .location-selection-mobile {
            display: grid;
        }

        .battle-screen {
            .player, .enemy {
                width: 45%;

                .player-card, .enemy-card {
                    .name {
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                    }

                    .hp-bar {
                        .hp {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        .inv-equip {
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column-reverse;
            .equipment, .inventory {
                width: 100%;
            }

            .equipment {
                margin-top: 15px;
            }
        }
    }
}

@include mediaXsm {
    .container {
        width: 95%;

        .battle-screen {
            padding: 8px;

            .player, .enemy {
                width: 48%;
                .player-card, .enemy-card {
                    .hp-bar {
                        .current, .max {
                            height: $bar-height-smaller;
                            top: 3px;
                        }
            
                        .max {
                            top: -7px;
                        }
                        
                        .hp {
                            font-size: 0.8rem;
                        }
                    }
                }

                .attack-bar {
                    .att-empty, .att-progress {
                        height: $bar-height-smaller;
                    }
        
                    .att-empty {
                        top: 7px;
                    }
        
                    .att-progress {
                        top: -3px;
                    }
                }
                .stats {
                    p span {
                        font-size: 0.86rem
                    }
                }    
            }
        }
        .inv-equip {
            padding: 8px;
            .equipment, .inventory {
                width: 100%;
            }

            .equipment {
                margin-bottom: 8px;
            }
        }
    }
}