@include mediaXl {
    .container {
        width: 60%;
    }
}

@include mediaLg {
    .container {
        width: 70%;
        
        .battle-screen {
            .player, .enemy {
                .player-card, .enemy-card {
                    .heal-quick-bar {
                        top: -67px;

                        .heal-quick-bar-container {
                            .heal-quick-bar-item {
                                padding: 10px;

                                .item-num {
                                    width: 25px;
                                    height: 25px;
                                    font-size: 0.9rem;
                                }

                                .item-img {
                                    width: 36px;
                                    height: 36px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include mediaMd {
    .container {
        width: 80%;
        
        .battle-screen {
            .player, .enemy {
                width: 39%;

                .player-card, .enemy-card {

                    .name {
                        font-size: 1.5rem
                    }

                    .heal-quick-bar {
                        top: -60px;

                        .heal-quick-bar-container {
                            .heal-quick-bar-item {
                                padding: 8px;

                                .item-num {
                                    width: 22px;
                                    height: 22px;
                                    font-size: 0.9rem;
                                }

                                .item-img {
                                    width: 33px;
                                    height: 33px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .modal-container {
            .confirmation-modal {
                margin-top: 18%;
            }
        }
    }
}

@include mediaSm {
    .container {
        width: 85%;

        .location-selection {
            display: none;
        }

        .location-selection-mobile {
            display: grid;
        }

        .battle-screen {
            .player, .enemy {
                width: 45%;

                .player-card, .enemy-card {
                    .name {
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                    }

                    .hp-bar {
                        .hp {
                            font-size: 1rem;
                        }
                    }

                    .heal-quick-bar {
                        top: -50px;
    
                        .heal-quick-bar-container {
                            .heal-quick-bar-item {
                                padding: 8px;
                                border-radius: 50%;
    
                                .item-num {
                                    border-radius: 50%;
                                    width: 15px;
                                    height: 15px;
                                    font-size: 0.6rem;
                                    bottom: -5px;
                                    margin-right: 1px;
                                }
    
                                .item-img {
                                    width: 25px;
                                    height: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .modal-container {
            .confirmation-modal {
                margin-top: 30%;
            }
        }

        .inv-equip {
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column-reverse;
            .equipment, .inventory {
                width: 100%;
            }

            .equipment {
                margin-top: 15px;
            }
        }
    }
}

@include mediaXsm {
    .container {
        width: 95%;

        .location-selection-mobile {
            .location-card {
                &:hover {
                    transform: none;
                    box-shadow: none;
                }

                &:active {
                    transform: translate( 2px, -2px);
                    box-shadow: -2px 2px 5px rgba($color: $secondary-color, $alpha: 0.7), -1px 1px 5px rgba($color: $secondary-color, $alpha: 0.7);
                }
            }

            .mobile-dropdown-btn {
                -webkit-transition: none;
                -moz-transition: none;
                -ms-transition: none;
                -o-transition: none;
                transition: none;

                &:hover {
                    box-shadow: none;
                }

                &:active {
                    box-shadow: -2px 2px 5px rgba($color: $secondary-color, $alpha: 0.7), -1px 1px 5px rgba($color: $secondary-color, $alpha: 0.7);
                }
            }
        }

        .battle-screen {
            padding: 8px;

            .player, .enemy {
                width: 48%;
                .player-card, .enemy-card {
                    .hp-bar {
                        .current, .max {
                            height: $bar-height-smaller;
                            top: 3px;
                        }
            
                        .max {
                            top: -7px;
                        }
                        
                        .hp {
                            font-size: 0.8rem;
                        }
                    }

                    .heal-quick-bar {
                        .heal-quick-bar-container {
                            padding: 0 5px 0 5px;
                            left: 4px;
                            justify-content: space-around;
                        }
                    }
                }

                .attack-bar {
                    .att-empty, .att-progress {
                        height: $bar-height-smaller;
                    }
        
                    .att-empty {
                        top: 7px;
                    }
        
                    .att-progress {
                        top: -3px;
                    }
                }
                .stats {
                    p span {
                        font-size: 0.86rem
                    }
                }    
            }
        }

        .modal-container {
            .confirmation-modal {
                height: 140px;
                width: 260px;
                margin-top: 40%;
                font-size: 0.8rem;

                span {
                    display: none;
                }

                .modal-text {
                    font-size: 0.9rem;
                    padding: 26px 10px 0 10px
                }

                .btn-yes {
                    margin: 22px 0px 0px 35px;
                }

                .btn-no {
                    margin: 22px 35px 0px 0px;
                }
            }
        }

        .inv-equip {
            padding: 8px;
            .equipment, .inventory {
                width: 100%;
            }

            .equipment {
                margin-bottom: 8px;
            }
        }
    }
}

@include mediaXxsm {
    .container {
        .battle-screen {
            .player {
                .player-card {
                    .heal-quick-bar {
                        .heal-quick-bar-container {
                            bottom: -40px;

                            .heal-quick-bar-item {
                                padding: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}