@import 'config';
@import 'inventory';
@import 'equipment';
@import 'modal_msg';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://pbs.twimg.com/media/C4TkyIrWYAADSyy?format=png&name=large);
}

.container {
    width: 60%;
    min-width: 288px; //288
    margin: auto;
    color: rgb(247, 247, 247);
    
    .location-selection {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 2px solid $primary-color-lighter;
        
        .location-card {
            position: relative;
            display: flex;
            flex: 1 1 29%;
            margin: 5px;
            height: 86px;
            padding: 12px;
            border-top: 2px solid $primary-color-lighter;
            border-right: 2px solid $primary-color-lighter;
            border-radius: $border-radius;
            margin: 15px 15px 0px 15px;
            background-color: $secondary-color-darker;
            box-shadow: -1px 1px 4px 1px rgba($color: rgb(10, 10, 10), $alpha: 0.6), -2px 2px 3px 1px rgba($color: rgb(10, 10, 10), $alpha: 0.1);
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;

            &:hover {
                transform: translate( 2px, -2px);
                cursor: pointer;
                box-shadow: -2px 2px 5px rgba($color: $secondary-color, $alpha: 0.7), -1px 1px 5px rgba($color: $secondary-color, $alpha: 0.7);
            }
            
            .location-img {
                height: 60px;
                width: 60px;
            }
            
            .location-name {
                text-transform: capitalize;
                font-size: 1.6rem;
                width: 100%;
                text-align: center;
                font-weight: 500;
                line-height: 55px;
                overflow: hidden;
            }
        }

        .mobile-dropdown-btn {
            display: none;
        }
    }
    
    .battle-screen {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 20px;
        
        .player, .enemy {
            padding: 10px;
            padding-top: 4px;
            border: 2px solid $secondary-color;
            background-color: darken($secondary-color, 20);
            border-radius: $border-radius;
            text-align: center;
            width: 30%;
            
            .player-card, .enemy-card {
                .name {
                    font-size: 1.6rem;
                    text-transform: capitalize;
                    
                }
                
                .hp-bar {
                    .current, .max {
                        height: $bar-height;
                        width: 100%;
                        position: relative;
                    }
                    
                    .current {
                        background-color: rgb(71, 212, 94);
                        top: 5px;
                        z-index: 2;
                        width: 100%
                    }
                    
                    .max {
                        background-color: rgb(236, 103, 103);
                        top: -9px;
                        z-index: 1;
                    }
                    
                    .hp {
                        position: relative;
                        top: -13px;
                        font-size: 1.1rem;
                        line-height: 1.2rem;
                    }
                    
                    .player-att-status {
                        position: relative;
                        text-align: right;
                        top: 4px;
                        visibility: hidden;
                        font-size: 0.8rem;
                    }
                    
                    .enemy-att-status {
                        position: relative;
                        text-align: left;
                        top: 4px;
                        visibility: hidden;
                        font-size: 0.8rem;
                    }
                    
                    .dmg {
                        color: rgb(230, 68, 68);
                        visibility: visible;
                    }
                    
                    .miss {
                        color: inherit;
                        visibility: visible;
                    }
                }
                
                .player-img, .enemy-img {
                    width: 100%;
                }

                .heal-quick-bar {
                    display: flex;
                    position: relative;
                    top: -74px;
                    right: 3px;

                    .heal-quick-bar-container {
                        position: absolute;
                        display: flex;
                        justify-content: flex-end;
                        width: 100%;
                        left: 2px;
                        
                        .heal-quick-bar-item {
                            position: relative;
                            display: flex;
                            background-color: rgba($color: white, $alpha: 0.3);
                            box-shadow: -1px -1px 1px 1px rgba($color: $primary-color-lighter, $alpha: 0.4);
                            padding: 12px;
                            bottom: 2px;
                            margin: 0 2px 0 2px;
                            border-radius: 50%;
                            justify-content: center;
                            align-items: center;

                            &:active {
                                box-shadow: inset 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
                            }

                            &:hover {
                                cursor: pointer;
                            }

                            .item-num {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                background-color: rgba($color: $primary-color, $alpha: 0.5);
                                border-radius: 50%;
                                width: 25px;
                                height: 25px;
                                font-size: 1rem;
                                bottom: -7px;
                                font-weight: 500;
                            }

                            .item-img {
                                width: 40px;
                                height: 40px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
                
                .loading-img {
                    img {
                        width: 100%;
                        -webkit-animation: loading $loading-animation-time linear infinite;
                        animation: loading $loading-animation-time linear infinite;
                    }
                }
            }
    
            .attack-bar {
                .weapon-name {
                    position: relative;
                    top: 4px;
                }
                
                .no-weapon {
                    visibility: hidden;
                }
                
                .att-empty, .att-progress {
                    height: $bar-height;
                    width: 100%;
                    position: relative;
                }
                
                .att-empty {
                    background-color: darken($primary-color, 7);
                    top: 8px;
                    z-index: 1;
                }
                
                .att-progress {
                    background-color: lighten($secondary-color, 10);
                    top: -6px;
                    z-index: 2;
                    width: 0%;
                }
            }
            
            .stats {
                padding: 8px;
                border-radius: $border-radius;
                text-align: left;
                line-height: 1.5rem;
                margin-top: 10px;
                border-top: 2px solid $primary-color-lighter;
                border-left: 2px solid $primary-color-lighter;
                box-shadow: 1px 1px 4px 1px rgba($color: white, $alpha: 0.3), 2px 2px 2px 1px rgba($color: white, $alpha: 0.1);
                
                h3 {
                    text-align: center;
                }
                
                p span {
                    float: right;
                    font-size: 1.2rem;
                }
            }
        }
        
        .dead {
            color: rgb(230, 68, 68);

            .item-num {
                color: #f7f7f7;
            }
        }
    }
    
    .inv-equip {
        display: flex;
        padding: 0 15px 15px 15px;
        justify-content: space-between;
    }
}

@import 'screenOpt';